@{
    ViewData["Title"] = "Acceuil";
    Layout = "_Layout_public";
}

<h1 class="text-body-emphasis">Demandeur de stage</h1>
<p class="fs-5 col-md-8">Vous êtes sur le portail de la Banque Centrale du Congo (BCC), réservé aux demandeurs de stage.</p>
<p class="fs-5 col-md-8">Merci de remplir le formulaire ci-dessous pour recevoir le lien vers le formulaire de demande de stage</p>

<div class="mb-5">
    <form method="post">
        <div class="form-group">
            <label class="fs-5 col-md-8">Adresse e-mail :</label>
            <input class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg px-4 mt-2">Recevoir le lien</button>
    </form>
</div>