@model Karibu.Models.Pay

@{
    ViewData["Title"] = "Supprimer | Pays";
    ViewData["PageTitle"] = ViewData["Title"];
}

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPays">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
