@model Karibu.Models.StatutUniversite

@{
    ViewData["Title"] = "Détails | Statut Université";
    ViewData["PageTitle"] = ViewData["Title"];
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdStatutUniversite">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
